<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="utb.attendancebook" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_book"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".help.HelpActivity"
            android:label="@string/title_activity_help">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".students.StudentListActivity"
            android:label="@string/title_activity_student" />
        <activity
            android:name=".students.StudentInfoActivity"
            android:label="@string/title_activity_student" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".students.StudentListActivity" />
        </activity>
        <activity
            android:name=".statistics.StudentStatistics"
            android:label="@string/title_activity_student_statistics" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".students.StudentInfoActivity" />
        </activity>
        <activity
            android:name=".statistics.CourseStatistics"
            android:label="@string/title_activity_course_statistics" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".students.StudentListActivity" />
        </activity>
    </application>

</manifest>
